<footer>
    <h3>Sources:</h3>

    <p>This investigation was made to analyze death rates in NYC by neighborhood and borough over time. The investigation concluded that, although death rates have decreased over time in all areas of NYC, there are still neighborhoods that have disproportionately high death rates in the city, which often appear to be linked to similarly low levels of economic prosperity in such areas, although economic data was not considered in my project.</p>

    <div>    
      <a href="https://a816-dohbesp.nyc.gov/IndicatorPublic/data-explorer/mortality/?id=2322#display=map">1st Data Set - By Area/Neighborhood</a>
    </div>
    <div>    
      <a href="https://a816-health.nyc.gov/hdi/epiquery/visualizations?PageType=ts&PopulationSource=Death&Topic=8&Subtopic=52">2nd Data Set - By Borough</a>
    </div>

</footer>